---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<header class="header">
 		<div class="container">

 			<div class="logo">
			<a class="logo-link" href="/">
				<span class="logo-link__circle"></span>
				<p>htmltester</p>
			</a>
		</div>

		<div class="menu">
			<ul class="menu_list">
				<li><a href="#">Company</a></li>
				<li class="is-active"><a href="#">Games</a></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
 		</div>
		
	</header>

	<section class="sliders">
		<div class="container">
			<div class="wrapper">
				
				<div class="slider ">
				<div class="slider__next"></div>
				<div class="slider__prev"></div>
				  <div class="block slick block__yellowgreen">
				 
						<div class="block__content">
							<h2>Chapter 1</h2>
							<p>Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. If you're compiling Bootstrap from its Less/Sass source and not using our Gruntfile, you'll need to integrate Autoprefixer into your build process yourself. If you're using precompiled Bootstrap or using our Gruntfile, you don't need to worry about this because Autoprefixer is already integrated into our Gruntfile.</p>

						</div>

						<div class="block__content">
							<h2>Chapter 2</h2>
							<p>Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. If you're compiling Bootstrap from its Less/Sass source and not using our Gruntfile, you'll need to integrate Autoprefixer into your build process yourself. If you're using precompiled Bootstrap or using our Gruntfile, you don't need to worry about this because Autoprefixer is already integrated into our Gruntfile.</p>

						</div>
					</div>
				</div>

				<div class="block block__inline block__green">
					<div class="block__center ">
						<img src="img/heart.png">
					</div>
				</div>
				<div class="block block__inline block__broun">
					<div class="block__center block__border-circle">
						<img src="img/wheel.png">
					</div>
				</div>

			</div>		
			
		</div>

	</section>

	<section class="chapters">
		<div class="container">


			<div class="chapters__grid ">
				
		<div class="items block block__height">
				<div class="block__border">
					<div class="block__content">
						<h2>Chapter 1</h2>
						<p>Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. If you're compiling Bootstrap from its Less/Sass source and not using our Gruntfile, you'll need to integrate Autoprefixer into your build process yourself. If you're using precompiled Bootstrap or using our Gruntfile, you don't need to worry about this because Autoprefixer is already integrated into our Gruntfile.</p>

					</div>
				</div>
			</div>

			<div class="items " >
				<div class="block__background block__snap " style="	background-image: url('/img/1.jpg')">
				</div>
			</div>


		<div class="items block block__height ">
				<div class="block__border">
					<div class="block__content">
						<h2>Chapter 2</h2>
						<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>

						<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes.</p> 

						<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. </p>
						<a href="#">
							<span>{{mixins.icon('arrow2')}}</span>
							www.chapter2.ru
						</a>


					</div>
				</div>
			</div>


		<div class="items block ">

								
             <div class="block__part block__broun triangle__right">
							<div class="block__border-right">
								<div class="block__content">
									<h2>Chapter 3</h2>
									<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
							</div>
						</div>
					</div>
						

					
					<div class="block__part">
						<div class="block__border-left">
								<div class="block__content">
								<p>Bootstrap uses Autoprefixer to deal with CSS vendor prefixes.</p>
							
								<a href="#">
									<span>{{mixins.icon('arrow2')}}</span>
								www.chapter4.ru</a>
						 </div>
						</div>
					</div>


			</div>

				<div class="items " >
					<div class="block__background block__snap" style="background-image: url('/img/2.jpg')">
				</div>
			</div>
				<div class="block ">
					<div class="block__center ">
						<h1><span>html</span><br>tester</h1>
					</div>
				</div>
				<div class="block block__broungrey triangle__left">
					<div class="block__center ">
						<img src="img/star.png">
					</div>
				</div>


		<div class="items block ">

								
             <div class="block__part block__broungrey triangle__right">
							<div class="block__border-right">
								<div class="block__content">
									<h2>Chapter 4</h2>
									<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
							</div>
						</div>
					</div>
						

					
					<div class="block__part">
						<div class="block__border-left">
								<div class="block__content">
								<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. </p>
								<p><span>—</span> Bootstrap uses Autoprefixer to deal . </p>
								<a href="#">
									<span>{{mixins.icon('arrow2')}}</span>
								www.chapter4.ru</a>
						 </div>
						</div>
					</div>


			</div>


					<div class="items">
						<div class="block__short ">
					<div class="block__center block__background" style="background-image: url('/img/3.jpg') ">
						
					</div>
				</div>
					</div>
					

			<div class="items block block__height ">
				<div class="block__border">
					<div class="block__content">
						<h2>Chapter 6</h2>
						<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>

						<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes.</p> 

						<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. </p>
						<a href="#">
							<span>{{mixins.icon('arrow2')}}</span></i>www.chapter6.ru
						</a>


					</div>
				</div>
			</div>

				<div class="items " >
					<div class="block__background block__snap" style="background-image: url('/img/4.jpg')">
				</div>
			</div>


					<div class="items">
						<div class="block ">
							<div class="block__content block__border">
								<h2>Chapter 5</h2>
								<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes.</p>
								<a href="#">
									<span>{{mixins.icon('arrow2')}}</span></i>www.chapter5.ru
								</a>
							</div>
					</div>
				</div>


				<div class="items block ">
								
             <div class="block__part block__greyblue triangle__right">
							<div class="block__border-right">
								<div class="block__content">
									<h2>Chapter 7</h2>
									<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files.</p>
							</div>
						</div>
					</div>
						
					<div class="block__part">
						<div class="block__border-left">
								<div class="block__content">
								<p><span>—</span> Bootstrap uses Autoprefixer to deal with CSS vendor prefixes. </p>
								<a href="#">
									<span>{{mixins.icon('arrow2')}}</span></i>
								www.chapter7.ru</a>
						 </div>
						</div>
					</div>


			</div>


					<div class="items"  >
						<div class="block__short ">
							<div class="block__center block__background" style="background-image: url('/img/5.jpg')" >
							<a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">{{mixins.icon('play')}}</a><br>	
									
							</div>
						</div>
					</div>

 				 <div class="items">
						<div class="block ">
							<div class="block__content block__border">
								
								<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
								<a href="#">
									<span>{{mixins.icon('arrow2')}}</span></i>www.chapter8.ru
								</a>
							</div>
					</div>
				</div>


				<div class="items">
						<div class="block  block__grey triangle__right">
							<div class="block__content">
								<h2>Chapter 8</h2>
								<p>Bootstrap is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
							</div>
					</div>
				</div>


			<div class="items">
						<div class="block ">
							<div class="block__content">
								<ul class="list">
									<li><a href="https://vk.com/">{{mixins.icon('vk')}}</a></li>
									<li><a href="https://facebook.com/">{{mixins.icon('facebook-1')}}</a></li>
									<li><a href="https://ok.ru">{{mixins.icon('odno')}}</a></li>
									<li><a href="twitter.com">{{mixins.icon('twitter')}}</a></li>
								</ul>
							</div>
					</div>
			</div>


		</div>


	</section>

<footer class="footer">
	<div class="container">
		<div class="footer__copy">
			Copyright © HTMLTESTER. 2009-2016. All right reserved.
		</div>
	</div>
</footer>
{% endblock %}
