.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-arrow2 {
  width: 2.19em;
  height: 1em;
  fill: #03c1c1;
}
.icon-play {
  width: 0.99em;
  height: 1em;
  fill: #353535;
}
.icon-odno {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook-1 {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
